*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #e1e1e1;
}
html{
    font-family: Arial, sans-serif;
}
body{
    background-color: #1e1e1e;
    /* font-family: "Audiowide", sans-serif; */
}
img{
    max-width: 100%;
    max-height: 100%;
}
.removeLine{
    text-decoration: none
}
#main,#secondary{
    min-height: 100dvh;
    display: flex;
    place-items: center;
    place-content: center;
    flex-direction: column;
}
#secondary{
    display: none;
}
@media (orientation: portrait) {
    #CVopen{
        width: 90dvw;
    }
}
@media (orientation: landscape) {
    #CVopen{
        height: 90dvh;
    }
}
#CVopen{
    position: relative;
}
.cvbtns{
    display: flex;
    position: absolute;
    margin: 3px;
    top: 0;
    left: 0;
}
#gB,.dwnld{
    width: 41px;
    height: 41px;
}
#gB:hover{
    cursor: pointer;
}
#YT,#socials{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.clink{
    width: 3rem;
    aspect-ratio: 1;
    /* border: #b3b3b3 2px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b3b3b3;
    padding: 0.3rem;
    overflow: hidden;
    margin: 0.3rem;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
}
.clink:hover{
    border-color: #ff8a03;
}
.mailLink a{
    transition: all 0.3s ease-in-out;
    &:hover{
        color: #ffd816;
        text-decoration: none;
    }
}
#CV{
    width: 20rem;
    background-color: #b3b3b3;
    color: #000021;
    padding: 0.3rem;
    text-align: center;
    border-radius: 1000px;
    transition: all 0.3s ease-in-out;
}
.startup{
    width: 20rem;
    background-color: #b3b3b3;
    color: #000021;
    margin-top: 3px;
    padding: 0.7rem;
    padding-bottom: 0.3rem;
    border-radius: 1rem 1rem 0 0;
    transition: all 0.3s ease-in-out;
}
#ZainPhoto{
    height: 200px;
    width: auto;
    border-radius: 20px;
    /* margin-top: 11px; */
}